.Box {
    margin: auto;
    width: 500px;
    min-height: 453px;
    background-color: black;
    border: solid 1px yellow;
    color: white;
}

.Loading1 {
    height: 451px;
    background-color: #5A6262;
}

.Loading1 img {
    width: 50%;
    margin-top:100px;
}

.Loading2 {
    height: 451px;
    background-color: #C1C1C1;
}

.Loading2 img {
    max-width: 450px;
    margin-top:100px;
}

.Loading3 {
    height: 451px;
    background-color: #444445;
}

.Loading3 img {
    margin-top:100px;
}

@font-face {
    font-family: StarWarsFont;
    src: url(./Strjmono.ttf);
}

.PlanetName {
    font-family: StarWarsFont;
    padding: 20px;
    font-size: 45pt;
    color: yellow;
    border-bottom: solid 1px yellow;
}

.Others {
    font-size: 15pt;
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.Others div {
    margin-top: 30px;
}

.Featured {
    margin-top: 50px !important;
    text-align: center !important;
}